
    label{
        color: black;
        font-size: 15px;
    }
    .hi{
        font-size: 12px;
    }
    #home{
    width: 600px;;
    height: 160px;
    /* background:linear-gradient(to right ,red,blue);   */
    color: rgb(253, 56, 7);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-repeat: no-repeat;
    background-position: center; 
}
#home tt{
    top: 80%;
    position: absolute;
    font-size: 50px;
    font-style: initial;
    opacity: 0;
    animation: text 3s ease-in-out;
}
#home span{
    color: rgb(250, 1, 237);
}
#home tt:nth-child(1){
    animation-delay: 0s;
}
#home tt:nth-child(2){
    animation-delay: 3s;
}
#home tt:nth-child(3){
    animation-delay: 6s;
}
/* #home tt:nth-child(4){
    animation-delay: 9s;
    
}*/
#home tt:nth-child(4){
    animation-delay: 9s;
    
} 

@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
 @media screen and (max-width:576px){
    #home p{
        font-size:20px;
        /* margin: 0 100px; */
    }
}
@media screen and (max-width:992px){
    #home p{
        font-size:20px;
        /* margin: 0 100px; */
    }
} 
form{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background:linear-gradient(to right,#a1ffce,#faffd1);
    border-radius: 10px;
    margin: 10px 3px
    
} 
input{
    background-color: aqua;
    border-radius:8px;
}
